@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Poppins:wght@300;400;500;600;700&family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
  }
a{
    text-decoration: none;
    color: rgb(57, 55, 63);

}
a:hover{
    color: rgb(37, 35, 41);
}
input{
    outline: none;
    width:350px;
    height: 45px;
    margin-right: 10px;
    padding: 10px;
    font-size:18px;
    border-radius:5px;
    border: none !important;
    margin-bottom: 10px;
  }